.container {
  margin: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: -102px;
}

.cont2 {
  display: flex;
  margin: 100px;
  justify-content: center;
}
h3 {
  color: rgb(201, 139, 45);
  font-size: 40px;
  justify-content: center;
  margin-left: 640px;
  margin-top: 80px;
}
.Straberries img {
  height: 200px;
}
.Onions img {
  height: 200px;
}
.Tomatoes img {
  height: 200px;
}
.Bringat img {
  height: 200px;
}

.Brocoli img {
  height: 200px;
}
.Potato img {
  height: 200px;
}
.Straberries {
  height: 350px;
  margin-top: 50px;
  width: 250px;
  background-color: rgb(253, 245, 233);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}
.Straberries:hover {
  background-color: #efb256;
}
