.container {
  margin: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: -102px;
}

.cont2 {
  display: flex;
  margin: 100px;
  justify-content: center;
}
h3 {
  color: rgb(201, 139, 45);
  font-size: 40px;
  justify-content: center;
  margin-left: 640px;
  margin-top: 80px;
}
